@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Custom Scrollbar: Modern, Mobile-like */
html {
  scrollbar-width: thin;
  scrollbar-color: #b3b3b348 #f4f4f45e;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
}

html {
  scrollbar-width: thin;
}

.background {
  @apply min-h-screen min-w-sm w-screen h-full bg-[#0FD08B];
}